@inherits LayoutComponentBase

<PageTitle>ErpApp</PageTitle>

<div class="app">
    <header>
        <NavMenu />
    </header>

    <main>
            @Body
    </main>

    <footer>
        <p>&copy; 2025 ErpApp. All rights reserved.</p>
    </footer>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgb(245, 245, 245);
    }

    header {
        flex: 0 0 auto;
        background-color: #343a40;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
    }

    .container {
        width: 100%;
        max-width: 1200px;
        padding: 2rem 1rem;
    }

    footer {
        flex: 0 0 auto;
        background-color: rgb(245, 245, 245);
        text-align: center;
        padding: 20px;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    }

</style>